/* Reset styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    background-color: white;
    padding: 5px;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Logo styles */
.logo {
    float: left;
    max-width: 80px;
    height: auto;
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* Product styles */
.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
}

.product {
    text-align: center;
    margin: 1rem;
    padding: 4rem;
    border: 1px solid #ccc;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.product:hover .product-image {
    transform: scale(2.3);
}

/* Hidden buttons container styles */
.hidden-buttons-container {
    display: none;
    position: fixed;
    top: 120px;
    right: 20px;
    background-color: lightcoral;
    padding: 10px;
    border: 1px solid brown;
}

.hidden-buttons-container button {
    display: block;
    margin-bottom: 10px;
}

.hidden-buttons-container #cart-btn {
    margin-bottom: 10px;
}

/* Cart styles */
.cart {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 80px;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 20px;
    padding: 1rem;
    border: 1px solid #ccc;
    color: whitesmoke;
    font-size: large;
    text-align: center;
    right: 0;
    background-color: rgb(197, 79, 79);
    overflow-y: auto;
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;
}

.cart-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
}

/* Add to cart button styles */
.add-to-cart {
    background-color: brown;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #45a049;
}

/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    flex: 1;
    border-radius: 5px;
    margin-right: 5px;
}

#search-btn {
    background-color: brown;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

#search-btn:hover {
    opacity: 0.8;
}

/* Product image styles */
.product-image {
    transition: transform 0.3s ease;
}

.image-container:hover .product-image {
    transform: scale(1.2);
}

/* Added notification styles */
.added {
    background-color: green;
    color: white;
}

/* Logout button styles */
.logout-button {
    background-color: brown;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.logout-button:hover {
    background-color: darkred;
}
